<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    tools:ignore="GoogleAppIndexingWarning">

  <uses-permission android:name="android.permission.INTERNET" />

  <queries>
    <intent>
      <action android:name="aard2.lookup" />
    </intent>
    <intent>
      <action android:name="com.hughes.action.ACTION_SEARCH_DICT" />
    </intent>
  </queries>

  <meta-data
      android:name="android.webkit.WebView.MetricsOptOut"
      android:value="true" />

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/appName"
      android:theme="@style/AppTheme"
      tools:ignore="AllowBackup">

    <activity
        android:name="Gurgle"
        android:exported="true"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>

    <activity
	android:name="Search" />

    <activity
        android:name="Help"
        android:label="@string/help" />

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="org.billthefarmer.gurgle.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/filepaths" />
    </provider>

  </application>

</manifest>
