<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.billthefarmer.gurgle"
          android:installLocation="auto"
          tools:ignore="GoogleAppIndexingWarning">

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      tools:ignore="AllowBackup">

    <activity
        android:name="Gurgle"
        android:label="@string/app_name"
        android:exported="true"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name="Help"
        android:label="@string/help" />

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="org.billthefarmer.gurgle.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/filepaths" />
    </provider>

  </application>

</manifest>
